.hbr-container {
  font-family: Noto Sans;
  .hbr-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;

    .hbr-header-title-primary {
      font-size: 32px;
      color: #000000;
      font-weight: bold;
      text-decoration: none solid rgb(0, 0, 0);
    }

    .hbr-header-title-secondary {
      font-size: 16px;
      color: #787f81;
      text-decoration: none solid rgb(0, 0, 0);
    }
  }

  .details-container {
    border-radius: 6px;
    background-color: #ffffff;
    .details-container-title {
      background-color: #ffffff;
      background-size: cover;
      font-size: 20px;
      font-weight: bold;
      padding: 18px 25px;
      border-bottom: solid #dadada;
      border-radius: 6px 6px 0 0;
    }

    .details-container-metadata {
      padding: 25px;
      div {
        display: flex;
        padding: 10px 0px;

        dt {
          color: #787f81;
          flex:1;
          max-width: 200px;
        }
        dd {
          flex:1;
        }
      }
    }
  }
}
