.hbr-header {
  display: flex;
  flex-direction: column;

  .hbr-header-title-primary {
    font-size: 32px;
    color: #313132;
    font-weight: bold;
    margin: 0;
  }

  .hbr-header-badge {
    background-color: #d9eaf7;
    border-radius: 16px;
    padding: 5px 10px;
    width: fit-content;
    font-size: 10px;
    font-weight: bold;
    color: #313132;
    text-transform: uppercase;
    margin-top: 6px;
  }
}

.hbr-container {

  .hbr-project-coordinator {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .details-container {
    border-radius: 6px;
    background-color: #ffffff;
    margin: 0 24px;
    .details-container-title {
      background-color: #ffffff;
      background-size: cover;
      font-size: 20px;
      font-weight: bold;
      padding: 18px 25px;
      border-bottom: solid thin #dadada;
      border-radius: 6px 6px 0 0;
    }

    .details-container-metadata {
      div {
        display: flex;
        padding: 10px 0px;
        border-bottom: solid thin #dadada;
        dt {
          color: #787f81;
          flex: 1;
          max-width: 200px;
        }
        dd {
          flex: 1;
        }
      }
    }
  }
}
