.hbr-container {
  font-family: Noto Sans;
  background-color: #f7f8fa;
  .hbr-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    background-color: #ffffff;

    .hbr-header-title-primary {
      font-size: 32px;
      color: #000000;
      font-weight: bold;
      text-decoration: none solid rgb(0, 0, 0);
    }

    .hbr-header-title-secondary {
      font-size: 16px;
      color: #787f81;
      text-decoration: none solid rgb(0, 0, 0);
    }
  }

  .details-container {
    .details-container-title {
      border-radius: 6px;
      background-color: #ffffff;
      background-size: cover;
      font-size: 20px;
      font-weight: bold;
      padding: 18px 25px;
    }
    
    .details-container-meta {
      padding: 0px 25px;
      .meta-container {
        display: flex;
        & + .meta-container {
          margin-top: 1rem;
        }
    
        .meta-title-container {
          flex: 1;
        }
    
        .meta-body-container {
          flex: 2;
          max-width: 92ch;
        }
      }
    }
  }
}



